services:
  valkey:
    image: valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    volumes:
      - valkey-data:/data

  searxng:
    image: searxng/searxng:latest
    restart: unless-stopped
    volumes:
      - ../files/searxng:/etc/searxng
      - searxng-data:/var/cache/searxng

volumes:
  valkey-data: {}
  searxng-data: {}
